/* Regole Generali */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
li{
    list-style: none;
}
nav li{
    display: inline-block;
}

a{
    text-decoration: none;
    color:#000 ; 
}

/* Bottone blu  */
.click{
    padding: 3px 10px;
    background-color:rgb(30, 81, 247) ;
    color: white;
}

/* Regole centrature generali  */
.central_one{
    width: 90%;
    margin: 80px auto;
}
.central_main{
    width: 80%;
    margin: 80px auto;
}

/* header */

header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0vh;
    left: 0vw;
    line-height: 80px;
    padding: 0 15px;
    z-index: 999;
    background-color: white;
}
.head_sx img{
    float: left;
    padding: 27px  15px 27px 0;
}
/* parte sinistra header  */
.head_sx{
    float: left;
    width: 50%;
}
.head_sx li{
    padding: 0 15px;
}
/* parte destra header  */
.head_dx{
    float: right;
}
.head_dx li{
    padding: 0 15px;
}




/* Jumbotron */

.jumbotron{
    background-color: rgb(143, 192, 223);
}
.central_one.jumbo{
    padding: 64px 0;
}
/* colsx  */
.jumbotron h1{
    font-size: 70px
}

.colsx p{
    margin: 20px 0;
}
.colsx div{
    margin: 20px 0;
}
.colsx{
    width: 30%;
    float: left;
}

/* coldx */
.coldx img{
    margin: 25px 0;
    max-width: 70%;
    float: right;
}


/* Main  */

/* Sezione prima  */
.padding_colbasic{
    padding: 50px  20px;
}
.central_main h2{
    margin-bottom: 50px;
    font-size: 40px;
}
#checkbox{
    display: inline-block;
    margin-right: 50px;
}
input[type='checkbox']{
    margin-right: 10px;
}
.colon_basic{
    width: 30%;
    border: 1px solid lightgrey;
    float: left;
    margin:20px 0;
    /* Altezza data per tenere la stessa grandezza in tutte e 3 le colonne  */
    height: 800px;
}
#here{
    background-color:rgb(30, 81, 247) ;
    text-align: center;
    padding: 5px 0;
}
#here a{
    color: white;
}
.user{
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}
.space{
    margin: 20px;
}
.colcentral{
    margin: 20px 5% ;
}

/* Colonna fuori da float */
.second_{
    border: 1px solid lightgrey;
    width: 100%;
    margin:20px 0;
}
.second_ h3{
    float: left;
    font-size: 24px;
}
#contatta_ufficio{
    float: right;
    
}
#contatta_ufficio a{
    color: white;
    padding: 3px 45px;
}
.second_ h5{
    margin: 30px 0;
}


/* Sezione 2  */

#colsx_2,#coldx_2{
    float: left;
}
#colsx_2{
    width: 60%;
}
#colsx_2 img{
    width: 100%;
    height: auto;
}
#coldx_2{
    width: 40%;
    padding: 10% 4%;
}
#coldx_2 p{
    margin: 20px 0;
}
#coldx_2 #trova{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 2px 10px;
}


/* Sezione 3  */
.colonna_type{
    width: 30%;
    float: left;
}
#colcentral_2{
    margin: 0 5%;
}
.colonna_type img{
    width: 100%;
    height: auto;
}
#second_clear{
    margin-top: 50px;
}
#sottolineato{
    text-decoration: underline;
}
.colonna_type p{
    margin-top: 30px;
}

#footer_section_3{
    margin-top: 100px;
}
#scopri_piu{
    color: blue;
    text-decoration: underline;
}
/* Sezione 4  */