/* Regole Generali */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
li{
    list-style: none;
}
nav li{
    display: inline-block;

}

header a{
    text-decoration: none;
    color:#000 ;
    width: 100%;
    height: 100%;
}


/* Bottone blu  */
.click{
    padding: 3px 10px;
    background-color:rgb(30, 81, 247) ;
    color: white;
}

/* Regole centrature generali  */
.central_one{
    width: 90%;
    margin: 80px auto;
}
.central_main{
    width: 80%;
    margin: 80px auto;
}

/* header */

header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0vh;
    left: 0vw;
    line-height: 80px;
    padding: 0 15px;
    z-index: 999;
    background-color: white;
}
.head_sx img{
    float: left;
    padding: 27px  15px 27px 0;
}
/* parte sinistra header  */
.head_sx{
    float: left;
    width: 50%;
}
.head_sx li{
    padding: 0 15px;
}
/* parte destra header  */
.head_dx{
    float: right;
}
.head_dx li{
    padding: 0 15px;
}


/* Jumbotron */
.jumbotron a{
    color: white;
    text-decoration: none;
}
.jumbotron{
    background-color: rgb(143, 192, 223);
}
.central_one.jumbo{
    padding-top: 64px;
}
.jumbotron h1{
    margin-bottom: 10px;
    font-size: 70px
}
#ancora_top{
    font-size: 45px;
    color: black;
}


.colsx p{
    margin: 20px 0;
}
.colsx div{
    margin: 20px 0;
}
.colsx{
    margin-top: 45px;
    width: 30%;
    float: left;
}

/* coldx */
.coldx img{
    max-width: 70%;
    float: right;
    position: relative;
    top: 70px;
}


/* Main  */
main{
    margin-top: 20px;
}
/* Sezione prima  */
.padding_colbasic{
    padding:  0 20px;
}
.central_main h2{
    margin-bottom: 50px;
    font-size: 40px;
}
#checkbox{
    display: inline-block;
    margin-right: 50px;
}
input[type='checkbox']{
    margin-right: 10px;
}
.colon_basic{
    width: 30%;
    border: 1px solid lightgrey;
    float: left;
    margin:20px 0;
    font-size: 15px;
    /* Altezza data per tenere la stessa grandezza in tutte e 3 le colonne  */
    min-height: 850px;
}
#here{
    background-color:rgb(30, 81, 247) ;
    text-align: center;
    padding: 5px 0;
}
#here a{
    color: white;
    text-decoration: none;
}
.user{
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}
.space{
    margin: 20px;
}
.divisore{
    height: 2px;
    border-bottom: 1px solid lightgrey;
    margin: 25px 0;
    width: 20%;
    margin-left: 20px;
}
.space span{
    padding-left: 18px;
}
.font_grey{
    font-size: 12px;
    color: grey;
}
.colcentral{
    margin: 20px 5% ;
}

.check.space{
    list-style:'\2713';
    color: blue;
    margin-right: 5px;
}
.check.space span{
    font-size: 12px;
    color: black;
    font-weight: normal;
}
.puntisalienti{
    font-size: 20px;
    font-weight: bold;
} 

/* Colonna fuori da float */
#onlyone{
    padding: 30px;
}
.second_{
    border: 1px solid lightgrey;
    width: 100%;
    margin:20px 0;
}
.second_ h3{
    float: left;
    font-size: 24px;
}
#contatta_ufficio{
    float: right;
    
}
#contatta_ufficio a{
    color: white;
    padding: 3px 45px;
    text-decoration: none;
}
.second_ h5{
    margin: 30px 0;
}


/* Sezione 2  */

#colsx_2,#coldx_2{
    float: left;
}
#colsx_2{
    width: 60%;
}
#colsx_2 img{
    width: 100%;
    height: auto;
}
#coldx_2{
    width: 40%;
    padding: 10% 4%;
}
#coldx_2 p{
    margin: 20px 0;
}
#coldx_2 #trova{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 6px 10px;
    text-decoration: none;
}


/* Sezione 3  */
.colonna_type{
    width: 30%;
    float: left;
}
#colcentral_2{
    margin: 0 5%;
}
.colonna_type img{
    width: 100%;
    height: auto;
}
#second_clear{
    margin-top: 50px;
}
#sottolineato{
    text-decoration: underline;
}
.colonna_type p{
    margin-top: 30px;
}

#footer_section_3{
    margin-top: 100px;
}
#scopri_piu{
    text-decoration: underline;
}
/* Sezione 4  */
.quadrato_lati{
    width: 30%;
    float: left;
    
}
.quadratino{
    float: left;
    width: 50%;
    height: 216px;
    text-align: center;
    line-height: 216px;
}
.quadratino:hover{
    border: 10px solid rgba(75, 75, 75, 0.3);
}
.quadratino img{
    width: 50%;
    height: auto;
    vertical-align: middle;
}
#q1{
    background-color: rgb(178, 216, 129);
}
#q2{
    background-color: rgb(90, 9, 9);
}
#q3{
    background-color: lightskyblue;
}
#q4{
    background-color: red;
}
#quadrato_base{
    width: 40%;
    float: left;
    height:432px;
    background-color: rgb(235, 231, 231);
    padding: 60px;
    overflow-y: scroll;
}
#sruttura_quadrati{
    max-height: 432px;
}
#quadrato_base img{
    width: 20%;
    height: auto;
}
#quadrato_base #citazione{
    margin: 50px 0;
}
#q5{
    background-color: rgb(207, 13, 13);
}
#q6{
    background-color: rgb(169, 214, 241);
}
#q7{
    background-color: darkblue;
}
#q8{
    background-color: rgb(255, 196, 0);
}

/* sottosezione 4  */
#prova_gratuita{
    background-color: rgb(173, 210, 223);
}
#contenitore_sottosezione{
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}
#contenitore_sottosezione h2{
    float: left;
    width: 30%;
    font-size: 33px;
    color: rgb(90, 11, 11);
}

#contenitore_sottosezione #prova{
    float: right;
    width: 30%;
}
#prova a{
    padding: 5px 25px;
    background-color: white;
    text-decoration: none;
    color: black;
}

/* Sezione 5 */
#domande_frequenti{
    font-size: 32px;
}
.float{
    float: left;
}
#apri_tendina{
    float: right;
}
.bordo_bottom{
    border-bottom: 1px solid #ccc;
}
.padding_domande{
    padding: 25px 0;
}
#border_top{
    border-top: 1px solid #ccc;
}
.bold{
    font-weight: bold;
}


/* footer  */

footer{
    background-color: black;
    color: white;
}
.a_foot{
    color: white;
    font-size: 12px;
}
#foot_margin{
    margin: 0 auto;
    width: 90%;
    padding: 100px 0;
}
#foot_margin li{
    margin: 10px 0;
}
.bold.margin_span_footer{
    margin-bottom: 20px;
    display: inline-block;
}
.width_col_footer{
    width: calc( 100% / 6 );
}
/* Parte bassa footer  */
#ita{
    margin: 0 5px;
} 
#select{
    vertical-align: middle;
    line-height: 20px;
}
#foot_giu{
    width: 10%;
    border-top: 1px solid white;
    padding-top: 20px;
    margin-top: 30px;
    font-size: 12px;
    color: grey;
    height: 20px;
}